/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Basic styles for body and header */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  header {
    background: #333;
    color: #fff;
    padding: 1rem;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Styles for sections */
  section {
    padding: 50px 0;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  /* Additional styling for specific sections */
  /* About Section */
  #about {
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px 0;
  }
  
  #about h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  #about p {
    color: #555;
  }
  
  /* Projects Section */
 
  #projects h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Contact Section */
  #contact {
    background-color: #f9f9f9;
    text-align: center;
    padding: 50px 0;
  }
  
  #contact h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  
.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.project-button {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.project-button span {
  position: relative;
  z-index: 1;
}

.project-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: opacity 0.3s ease;
  z-index: 0;
}

.project-button:hover::before {
  opacity: 0;
}

.svg {
  background-color: #FF6384;
  color: white;
}

.html5 {
  background-color: #36A2EB;
  color: white;
}

.other {
  background-color: #FFCE56;
  color: black;
}
.sun-icon{
  width: 30%;
  margin: 0 auto;
  display: block;
  animation: rotate 10s 0s linear infinite;
  fill: #fd7c4f;
  transition: all .4s;
  
  .ray,
  .circle{
    stroke: #fd7c4f;
    transition: all .4s;
  }
  
  &:hover{
   fill: dodgerblue; 
   transition: all .4s;
    .ray,
    .circle{
      stroke: dodgerblue;
      transition: all .4s;
    }
    
  }

}
@keyframes rotate {
  0% {
    transform: rotate(0deg); 
  }
  
  50%{
    transform: rotate(180deg); 
  }
  
  100% { 
    transform: rotate(360deg);
  }
}

.svg-container {
  display: flex;
  align-items: center;
}

.svg-container svg {
  margin-right: 20px; /* Adjust the margin as needed */
}
.icon { 
  width: 50px; 
  height: 50px;
  margin: .5em;
}


#jelly-row
{
  margin:10% 0;
}

@-webkit-keyframes SlowFloat
{
  0%
  {
    transform: translateY(0);
  }

  100%
  {
    transform: translateY(-25px);
  }
}

#jellyfish
{
  -webkit-animation: SlowFloat 2s infinite  alternate;
  animation: SlowFloat 2s infinite  alternate;
}

@keyframes tilt-n-move-shaking
{
  0%
  {
    transform: translate(0, 0) rotate(0deg);
  }

  25%
  {
    transform: translate(5px, 5px) rotate(5deg);
  }

  50%
  {
    transform: translate(0, 0) rotate(0eg);
  }

  75%
  {
    transform: translate(-5px, 5px) rotate(-5deg);
  }

  100%
  {
    transform: translate(0, 0) rotate(0deg);
  }
}

#tige
{
  animation:tilt-n-move-shaking 3s linear infinite;
  opacity:0.7;
  mix-blend-mode:screen;
}

@keyframes skew-y-shakeing
{
  0%
  {
    transform: skewY(0deg);
  }

  25%
  {
    transform: skewY(10deg);
  }

  50%
  {
    transform: skewY(0deg);
  }

  75%
  {
    transform: skewY(10deg);
  }

  100%
  {
    transform: skewY(0deg);
  }
}

#bleu
{
  animation: skew-y-shakeing 3s infinite;
  mix-blend-mode:screen;
  opacity:0.8;
}

#bleu2
{
  animation: skew-y-shakeing 4s ease-in infinite;
  mix-blend-mode:screen;
}

#violet
{
  animation: skew-y-shakeing 5s ease-in infinite;
}

#violet2
{
  animation: skew-y-shakeing 4s linear infinite;
  opacity:0.8;
  mix-blend-mode:screen;
}

@keyframes tilt-shaking
{
  0%
  {
    transform: rotate(0deg);
  }

  25%
  {
    transform: rotate(5deg);
  }

  50%
  {
    transform: rotate(0eg);
  }

  75%
  {
    transform: rotate(-5deg);
  }

  100%
  {
    transform: rotate(0deg);
  }
}

#rose
{
  opacity:0.7;
  animation:tilt-shaking 4s ease-out infinite;
}

@keyframes tentacle-sway
{
  0%
  {
    transform: translateY(0);
  }

  25%
  {
    transform: translateY(5%);
  }

  50%
  {
    transform: translateY(0);
  }

  75%
  {
    transform: translateY(-5%);
  }

  100%
  {
    transform: translateY(0);
  }
}

#rouge
{
  animation: tentacle-sway 4s ease-in-out infinite;
  opacity:0.7;
  mix-blend-mode:screen;
}

#rouge2
{
  animation:skew-y-shakeing 4s ease-in-out infinite;
  opacity:0.8;
}

@keyframes vibrate
{
  0%
  {
    transform: skewY(0deg);
  }

  5%
  {
    transform: skewY(1deg);
  }

  10%
  {
    transform: skewY(0deg);
  }

  15%
  {
    transform: skewY(1deg);
  }

  20%
  {
    transform: skewY(0deg);
  }

  100%
  {
    transform: skewY(0deg);
  }
}

#bubble
{
  animation:skew-y-shakeing 8s ease-in-out infinite;
}

#bubble2
{
  animation:skew-y-shakeing 6s ease-in infinite;
}

@keyframes skew-y-shakeing-masque
{
  0%
  {
    transform: skewY(0deg);
  }

  25%
  {
    transform: skewY(3deg);
  }

  50%
  {
    transform: skewY(0deg);
  }

  75%
  {
    transform: skewY(2deg);
  }

  100%
  {
    transform: skewY(0deg);
  }
}

#masque
{
  animation: skew-y-shakeing-masque 5s linear infinite;
}

/* ============ BUBLLE BACKGROUND ANIMATION ============= */
#bubble-wrap
{
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
  opacity:0.2;
}

@keyframes bubblesAnimation
{
  0%
  {
    margin-top:70px;
  }

  100%
  {
    margin-top:-100%;
  }
}

@keyframes sides
{
  0%
  {
    margin-left:0px;
  }

  100%
  {
    margin-left:50px;
  }
}

.one
{
  -webkit-animation: bubblesAnimation 25s linear infinite, side 2s ease-in-out infinite alternate;
  -moz-animation: bubblesAnimation 25s linear infinite, side 2s ease-in-out infinite alternate;
  animation: bubblesAnimation 25s linear infinite, side 2s ease-in-out infinite alternate;
  left: -5%;
  top: 5%;
  -webkit-transform: scale(0.55);
  -moz-transform: scale(0.55);
  transform: scale(0.55);
}

.two
{
  -webkit-animation: bubblesAnimation 20s linear infinite, side 4s ease-in-out infinite alternate;
  -moz-animation: bubblesAnimation 20s linear infinite, side 4s ease-in-out infinite alternate;
  animation: bubblesAnimation 20s linear infinite, side 4s ease-in-out infinite alternate;
  left: 5%;
  top: 80%;
  -webkit-transform: scale(0.35);
  -moz-transform: scale(0.35);
  transform: scale(0.35);
}

.three
{
  -webkit-animation: bubblesAnimation 28s linear infinite, side 2s ease-in-out infinite alternate;
  -moz-animation: bubblesAnimation 28s linear infinite, side 2s ease-in-out infinite alternate;
  animation: bubblesAnimation 28s linear infinite, side 2s ease-in-out infinite alternate;
  left: 10%;
  top: 40%;
  -webkit-transform: scale(0.65);
  -moz-transform: scale(0.65);
  transform: scale(0.65);
}

.four
{
  -webkit-animation: bubblesAnimation 22s linear infinite, side 3s ease-in-out infinite alternate;
  -moz-animation: bubblesAnimation 22s linear infinite, side 3s ease-in-out infinite alternate;
  animation: bubblesAnimation 22s linear infinite, side 3s ease-in-out infinite alternate;
  left: 20%;
  top: 0;
  -webkit-transform: scale(0.25);
  -moz-transform: scale(0.25);
  transform: scale(0.25);
}

.five
{
  -webkit-animation: bubblesAnimation 29s linear infinite, side 4s ease-in-out infinite alternate;
  -moz-animation: bubblesAnimation 29s linear infinite, side 4s ease-in-out infinite alternate;
  animation: bubblesAnimation 29s linear infinite, side 4s ease-in-out infinite alternate;
  left: 30%;
  top: 50%;
  -webkit-transform: scale(0.45);
  -moz-transform: scale(0.45);
  transform: scale(0.45);
}

.six
{
  -webkit-animation: bubblesAnimation 21s linear infinite, side 2s ease-in-out infinite alternate;
  -moz-animation: bubblesAnimation 21s linear infinite, side 2s ease-in-out infinite alternate;
  animation: bubblesAnimation 21s linear infinite, side 2s ease-in-out infinite alternate;
  left: 50%;
  top: 0;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
}

.seven
{
  -webkit-animation: bubblesAnimation 20s linear infinite, side 2s ease-in-out infinite alternate;
  -moz-animation: bubblesAnimation 20s linear infinite, side 2s ease-in-out infinite alternate;
  animation: bubblesAnimation 20s linear infinite, side 2s ease-in-out infinite alternate;
  left: 65%;
  top: 70%;
  -webkit-transform: scale(0.35);
  -moz-transform: scale(0.35);
  transform: scale(0.35);
}

.eight
{
  -webkit-animation: bubblesAnimation 22s linear infinite, side 3s ease-in-out infinite alternate;
  -moz-animation: bubblesAnimation 22s linear infinite, side 3s ease-in-out infinite alternate;
  animation: bubblesAnimation 22s linear infinite, side 3s ease-in-out infinite alternate;
  left: 80%;
  top: 10%;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

.nine
{
  -webkit-animation: bubblesAnimation 29s linear infinite, side 4s ease-in-out infinite alternate;
  -moz-animation: bubblesAnimation 29s linear infinite, side 4s ease-in-out infinite alternate;
  animation: bubblesAnimation 29s linear infinite, side 4s ease-in-out infinite alternate;
  left: 90%;
  top: 50%;
  -webkit-transform: scale(0.67);
  -moz-transform: scale(0.67);
  transform: scale(0.67);
}

.ten
{
  -webkit-animation: bubblesAnimation 26s linear infinite, side 2s ease-in-out infinite alternate;
  -moz-animation: bubblesAnimation 26s linear infinite, side 2s ease-in-out infinite alternate;
  animation: bubblesAnimation 26s linear infinite, side 2s ease-in-out infinite alternate;
  left: 80%;
  top: 80%;
  -webkit-transform: scale(0.22);
  -moz-transform: scale(0.22);
  transform: scale(0.22);
}

.bubble
{
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
  height: 200px;
  position: absolute;
  width: 200px;
}

Resources1× 0.5× 0.25×Rerun
body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.ring {
  fill: none;
  stroke-dasharray: 720 180;
  stroke-linecap: round;
  stroke: #ff1251;
  stroke-width: 30px;
  animation: progress 3s linear normal infinite;
}
.left {
  transform: translate(100px, 0) rotate(90deg);
}
.right {
  transform: translate(100px, 200px) rotate(-90deg);
  animation-delay: 1.5s;
  animation-direction: reverse;
}

@keyframes progress {
  0%,
  10% {
    stroke-dashoffset: 100;
  }
  90%,
  100% {
    stroke-dashoffset: -900;
  }
}
