/* Resetting default margin and padding */
body,
ul {
  margin: 0;
  padding: 0;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Styling for projects section */
.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.project-button {
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.3s ease;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  animation: pulse 1.5s ease infinite;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px; /* Fixed width for all buttons */
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.project-button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.6s ease;
  border-radius: 50%;
  z-index: 0;
  transform: translate(-50%, -50%) scale(0);
}

.project-button:hover:before {
  transform: translate(-50%, -50%) scale(2);
}

.project-button span {
  position: relative;
  z-index: 1;
}

.project-button.html5 {
  background: linear-gradient(45deg, #FF6B6B, #556270);
}

.project-button.other {
  background: linear-gradient(45deg, #ff9a9e, #fecfef);
}

.project-button.svg {
  background: linear-gradient(45deg, #ff6a00, #ee0979);
}
